# ---------------- #
#   Main Configs   #
# ---------------- #
baseurl:
url: https://Minghao23.github.io
date_format: "ordinal"
title: HMH
subtitle: "胡明昊"
description: "胡明昊的个人博客"
keywords: 胡明昊, Minghao Hu, minghao, Minghao23, hmh
timezone: Asia/Shanghai
encoding: "utf-8"
side_bar_repo_limit: 5

# ---------------- #
#      Author      #
# ---------------- #
author: Minghao Hu
organization: https://Minghao23.github.io
organization_url: https://minghao23.github.io
github_username: Minghao23
location: Beijing, China
email: hu_minghao@outlook.com

# ---------------- #
#    Navigation    #
# ---------------- #
navs:
  -
    href: /
    label: 首页

  -
    href: /categories/
    label: 分类

#   -
#     href: /archives/
#     label: 归档

  -
    href: /wiki/
    label: 维基

  -
    href: /links/
    label: 链接

  -
    href: /about/
    label: 关于

# ---------------- #
#       RSS        #
# ---------------- #
subscribe_rss: /feed.xml

# ---------------- #
#      Jekyll      #
# ---------------- #
markdown: kramdown
kramdown:
    input: GFM
highlighter: rouge
paginate: 10
lsi: false
quiet: false
excerpt_separator: "\n\n"
permalink: /:year/:month/:day/:title/
gems:
    - jekyll-github-metadata
    - rouge
#     - jekyll-html-pipeline
    - jekyll-paginate
    - jekyll-sitemap
    - jekyll-feed
    - jemoji
#     - jekyll-mentions
collections:
    wiki:
        output: true
        permalink: /wiki/:path/

repository: mzlogin/mzlogin.github.io

# ---------------- #
#      Comments    #
# ---------------- #

# https://github.com/gitalk/gitalk#install
gitalk:
    owner: Minghao23
    repo: Minghao23.github.io
    clientID: 5e13dcbaa5700878625d
    clientSecret: 69a24f8d55550e22fd2faa56a26c4aa9c4e50420
# 在使用其它评论组件时可点击显示 Disqus
lazy_load_disqus : false

# ---------------- #
#      Search      #
# ---------------- #
simple_jekyll_search:
    # 是否支持全文搜索
    fulltext: false
    # 最多显示多少条搜索结果
    limit: 10

# ---------------- #
#    Analytics     #
# ---------------- #
google:
    analytics_id: UA-80669434-1
